#products{
    .carousel-item{
        img{
            background-position: center;
            padding-top: 0;
            min-height: $limit*70;
            width:100%;
            height: $limit*70;
            object-fit: cover;
            
        }
    }
}