#tienda{
    .title-tienda{
        
        margin-left: 45%;
        font-size: 40px;
        margin-bottom: $limit*2;
    }
    .page-content{
        display: flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
        
        
    }

    .card{
        margin: 15px;
        padding: 2px 16px;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: white;
        width: 300px;
       
        object-fit: cover;
    
        &:hover{
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
    }
}